* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #e2e2e2, #c9c9c9);
  color: #333;
}
span{
  justify-content: center;
  display: flex;
}
.container {
  margin: 0 15px;
  display: flex;
  justify-content: center;
}
.form-box {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: none;
}

.form-box.active {
  display: block;
}

h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  background: #eee;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

input[type="radio"] {
  width: auto;
  margin-bottom: 0;
  margin-right: 5px;
}

img {
  width: 50%;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}

p {
  font-size: 14px;
  margin: 10px 0;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
